Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  google-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type
CheckOptions:
  - { key: readability-identifier-naming.ClassCase, value: CamelCase }
  - { key: readability-identifier-naming.PrivateMemberPrefix, value: 'm_' }
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: none
